# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Gabriel\Programming Projects\Clion Projects\Algebra Abstracta\Teoria de numeros\Funcion Modulo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
